{% extends 'base.html' %}
<!-- 
TODO: Change return to login button
 -->

{% block main_content %}
<div class="header-bar">
    <h1>Register</h1>
</div>

<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        <label>{{form.username.label}}</label>
        {{form.username}}
        <label>{{form.password1.label}}</label>
        {{form.password1}}
        <label>{{form.password2.label}}</label>
        {{form.password2}}
        <!-- {{ form.as_p }} -->
        <input style="margin-top:10px;" class="button" type="submit" value="Register">
    </form>
    <a href="{% url 'login' %}">Go back</a>
</div>
{% endblock %}