{% extends 'base.html' %}

{% block main_content %}
<div class="centered-header-bar">
    <a href="{% url 'tasks' %}">&#129028; Go back</a>
    <h3>Delete a task</h3>
</div>

<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        {% if not task.is_completed %}
            <p class="delete-message">Are you sure you want to delete incompleted task named:</p>
        {% else %}
            <p class="delete-message">Are you sure you want to delete task named:</p>
        {% endif %}
        <p class="delete-task-name">"{{task}}"</p>
        <div class="centered-button">
            <input class="button" type="submit" value="Confirm">
        </div>
    </form>
</div>
{% endblock %}