{% extends 'base.html' %}
<!-- 
TODO: Change color theme to blue
TODO: Make 'x' button bigger
TODO: Show some task details while hovering over it
TODO: Align time counter to the left and enclouse it in the rounded rectangle with changing colour
 -->

{% block main_content %}
<div class="header-bar">
    <div>
        <h1>Hello {{request.user|title}}</h1>
        <h3 style="margin:0">
            {% if completed_count == 0 and incompleted_count == 0 %}
                Create new task and organize your day!
            {% elif incompleted_count == 0 %}
                All task done &#x1F973; Let's creat new ones!
            {% else %}
                You have <i>{{incompleted_count}}</i> incomplete task{{ incompleted_count|pluralize:"s" }}
            {% endif %}
        </h3>
    </div>

    {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
    {% endif %}
</div>

<div id="search-add-wrapper">
    <a class="button" href="{% url 'task-create' %}">+ Add new</a>
    <form method="GET" style="margin-top: 20px;display: flex;">
        <input type="text" name="search-area" value="{{search_input}}" placeholder="Type a task title...">
        <input class="button" type="submit" name="search" value="Search">
        <input class="button" type="submit" name="clear" value="Clear filter">
    </form>
</div>

<div class="task-items-wrapper">
    {% for task in tasks %}
        <div class="task-wrapper">
            {% if task.is_completed %}
                <div class="task-title">
                    <form method="POST" action="{% url 'task-toggle-status' task.id %}">
                        {% csrf_token %}
                        <input type="checkbox" 
                               name="toggle"
                               onChange="this.form.submit()"
                               {% if task.is_completed %} checked {% endif %}>
                    </form>
                    <s><a href="{% url 'task-update' task.id %}">{{task}}</a></s>
                </div>
                {% if task.due_date %}
                    <span class="time-counter">
                        {{ task.due_date|timeuntil }} left
                    </span>
                {% endif %}
                <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>
            {% else %}
                <div class="task-title">
                    <form method="POST" action="{% url 'task-toggle-status' task.id %}">
                        {% csrf_token %}
                        <input type="checkbox" 
                               name="toggle"
                               onChange="this.form.submit()"
                               {% if task.is_completed %} checked {% endif %}>
                    </form>
                    <a href="{% url 'task-update' task.id %}">{{task}}</a>
                </div>
                {% if task.due_date %}
                    <span class="time-counter">
                        {{ task.due_date|timeuntil }} left
                    </span>
                {% endif %}
                <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>
            {% endif %}
        </div>
    {% empty %}
        <h3>No items in list</h3>
    {% endfor %}    
</div>
{% endblock %}