{% extends 'base.html' %}
<!-- 
TODO: Create user-friendly date input field
TODO: Add funny, example values in the input fields
TODO: Centralize submit button 
 -->

{% block main_content %}
<div class="centered-header-bar">
    <a href="{% url 'tasks' %}">&#129028; Go back</a>
    <h3>Create new task</h3>
</div>

<div class="card-body">
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input class="button" type="submit" value="Submit">
    </form>
</div>
{% endblock %}